<div class="card-body" id="orderForm">
  <!-- Pills navs -->
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-cnc" data-mdb-toggle="pill" href="#pills-cnc" role="tab" aria-controls="pills-login" aria-selected="true">CNC (Delivery)</a>
    </li>
    <!-- <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-mis" data-mdb-toggle="pill" href="#pills-mis" role="tab" aria-controls="pills-register" aria-selected="false">MIS (Intraday)</a>
    </li> -->
  </ul>
  <!-- Pills navs -->

  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-cnc" role="tabpanel" aria-labelledby="pills-cnc">

      <form class="row gy-2 gx-3 align-items-center">
        <div class="col-12">
          <div class="form-outline">
            <input type="text" id="orderForm-cnc-companyName" class="form-control" value="Select stock from watchlist" disabled />
            <label class="form-label" for="orderForm-cnc-companyName">Company</label>
          </div>
        </div>
        <div class="col-4">
          <div class="form-outline">
            <input type="text" id="orderForm-cnc-companyCode" class="form-control" value="Select stock" disabled />
            <label class="form-label" for="orderForm-cnc-companyCode">Symbol</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-outline">
            <input type="number" id="orderForm-cnc-lotSize" class="form-control" value="1" disabled />
            <label class="form-label" for="orderForm-cnc-lotSize">Lots</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-outline">
            <input type="number" id="orderForm-cnc-quantity" class="form-control" value=1 min="0" />
            <label class="form-label" for="orderForm-cnc-quantity">Qty</label>
          </div>
        </div>

        <div class="col-3">
          <div class="form-outline">
            <input type="text" id="orderForm-cnc-price" class="form-control" value=" " disabled />
            <label class="form-label" for="orderForm-cnc-price">Price</label>
          </div>
        </div>

        <!-- <br> -->
        <hr>
        <div class="col-auto">
          <span>Type : </span>

          <div class="btn-group">
            <input type="radio" class="btn-check" name="options" id="orderType-cnc-market" autocomplete="off" checked />
            <label class="btn btn-outline-primary btn-sm" for="orderType-cnc-market">Market</label>

            <input type="radio" class="btn-check" name="options" id="orderType-cnc-limit" autocomplete="off" disabled />
            <label class="btn btn-outline-primary btn-sm" for="orderType-cnc-limit">Limit</label>


          </div>




        </div>

        <!-- <div class="col-auto">
                    <span>Variety : </span>
                    <span class="badge bg-success">Regular</span>

                </div> -->


        <div class="col-auto justify-content-center">

          <span>Validity : </span>
          <div class="btn-group">
            <input type="radio" class="btn-check" name="options-validity" id="validity-cnc-day" autocomplete="off" checked />
            <label class="btn btn-outline-dark btn-sm" for="validity-day">Day</label>

            <input type="radio" class="btn-check" name="options-validity" id="validity-cnc-ioc" autocomplete="off" disabled />
            <label class="btn btn-outline-dark btn-sm" for="validity-ioc">IOC</label>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <!-- <small>Approx. Margin : &#8377; 34578</small> -->
            <br>
            <button type="button" id="buy-cnc" class="btn btn-success btn-sm" data-mdb-ripple-color="dark" style="width: 40%;">
              Buy
            </button>
            <button type="button" id="sell-cnc" class="btn btn-danger btn-sm" data-mdb-ripple-color="dark" style="width: 40%;">
              Sell
            </button>
          </div>
        </div>

        <input type="hidden" id="userID" value="<%= user._id%>">

      </form>
    </div>
    <div class="tab-pane fade" id="pills-mis" role="tabpanel" aria-labelledby="tab-mis">
      <form class="row gy-2 gx-3 align-items-center">
        <div class="col-12">
          <div class="form-outline">
            <input type="text" id="orderForm-mis-companyName" class="form-control" value="Select stock from watchlist" disabled />
            <label class="form-label" for="orderForm-mis-companyName">Company</label>
          </div>
        </div>
        <div class="col-4">
          <div class="form-outline">
            <input type="text" id="orderForm-mis-companyCode" class="form-control" value="Select stock" disabled />
            <label class="form-label" for="orderForm-mis-companyCode">Symbol</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-outline">
            <input type="number" id="orderForm-mis-lotSize" class="form-control" value="1" disabled />
            <label class="form-label" for="orderForm-mis-lotSize">Lots</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-outline">
            <input type="number" id="orderForm-mis-quantity" class="form-control" value=1 />
            <label class="form-label" for="orderForm-mis-quantity">Qty</label>
          </div>
        </div>

        <div class="col-3">
          <div class="form-outline">
            <input type="text" id="orderForm-mis-price" class="form-control" value=" " disabled />
            <label class="form-label" for="orderForm-mis-price">Price</label>
          </div>
        </div>

        <!-- <br> -->
        <hr>
        <div class="col-auto">
          <span>Type : </span>

          <div class="btn-group">
            <input type="radio" class="btn-check" name="options" id="orderType-mis-market" autocomplete="off" checked />
            <label class="btn btn-outline-primary btn-sm" for="orderType-mis-market">Market</label>

            <input type="radio" class="btn-check" name="options" id="orderType-mis-limit" autocomplete="off" disabled />
            <label class="btn btn-outline-primary btn-sm" for="orderType-mis-limit">Limit</label>


          </div>




        </div>

        <!-- <div class="col-auto">
                    <span>Variety : </span>
                    <span class="badge bg-success">Regular</span>

                </div> -->


        <div class="col-auto justify-content-center">

          <span>Validity : </span>
          <div class="btn-group">
            <input type="radio" class="btn-check" name="options-validity" id="validity-cnc-day" autocomplete="off" checked />
            <label class="btn btn-outline-dark btn-sm" for="validity-day">Day</label>

            <input type="radio" class="btn-check" name="options-validity" id="validity-cnc-ioc" autocomplete="off" disabled />
            <label class="btn btn-outline-dark btn-sm" for="validity-ioc">IOC</label>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <!-- <small>Approx. Margin : &#8377; 34578</small> -->
            <br>
            <button type="button" id="buy-mis" class="btn btn-success btn-sm" data-mdb-ripple-color="dark" style="width: 40%;">
              Buy
            </button>
            <button type="button" id="sell-mis" class="btn btn-danger btn-sm" data-mdb-ripple-color="dark" style="width: 40%;">
              Sell
            </button>
          </div>
        </div>

        <input type="hidden" id="userID" value="<%= user._id%>">

      </form>
    </div>
  </div>
  <!-- Pills content -->
</div>