<style>
    #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 58px;
    }

    @media (max-width: 991px) {
        #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 45px;
        }
    }
</style>

<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">MockStock 2.0</span>
    </div>
</nav>
<!-- Navbar -->

<!-- Jumbotron -->
<!-- <div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-3 h2">MockStock 2.0</h1>
    <p class="mb-3">Trade Fearlessly</p>
    <a class="btn btn-primary m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button" rel="nofollow"
        target="_blank">Start tutorial</a>
    <a class="btn btn-primary m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank" role="button">Download
        MDB UI KIT</a>
</div> -->
<!-- Jumbotron -->