<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>

  <style>
    #intro {
      background-image: url(../assets/images/bg1.jpg);
      height: 100vh;
    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
      #intro {
        margin-top: -58.59px;
      }
    }

    .navbar .nav-link {
      color: #fff !important;
    }
  </style>

  <style>
    body {
      padding-top: 0px;
    }
  </style>
</head>

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJ8BSG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!--Main Navigation-->
  <header>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand nav-link" target="_blank" href="https://esummit.juecell.in/mockstock">
          <strong>MockStock 2.0</strong>
        </a>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
              <form class="bg-white rounded shadow-5-strong p-5 text-center" action="/users/login" method="POST">
                <img src="../assets/images/pickl_logo.png" width="20%" style="margin-bottom: 15px;">
                <h6 class="mb-3 fw-light">presents</h6>
                <img src="../assets/images/blue_grad_logo.png" width="60%" style="margin-bottom: 25px;">
                <br>
                <h4 class="mb-3 fw-light">MockStock 2.0</h4>

                <h4 class="text-danger">
                  <%- include ('../partials/messages') %>
                </h4>

                <h6>Login using your E-Summit Account Credentials </h6>
                <hr>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="email" class="form-control" name="email" />
                  <label class="form-label" for="email">Email Address</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="password" class="form-control" name="password" />
                  <label class="form-label" for="password">Password</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <!-- <div class="row mb-4">
                  <div class="col d-flex justify-content-center">

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                  <label class="form-check-label" for="form1Example3">
                    Remember me
                  </label>
                </div>
            </div>

            <div class="col text-center">

              <a href="#!">Forgot password?</a>
            </div>
          </div> -->

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                <hr>
                <div class="text-center">
                  <h6 class="mb-3 fw-light">Powered By :</h6>
                  <a href="https://flipitnews.com/"><img src=" ../assets/images/flipitnews_logo.png" width="200px"></a>
                  <h6 class="mb-3 fw-light">India's First Investment Information Network</h6>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <!--Main Navigation-->

  <!--Footer-->
  <footer class="bg-light text-lg-start">

  </footer>
  <!--Footer-->
  <!-- MDB -->
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  <!-- Custom scripts -->
  <!-- <script type="text/javascript" src="js/script.js"></script> -->
</body>

</html>